h4 {
  text-align: center;
}

label {
  display: inline-block;
  margin: 10px;
  width: 250px;
}

.box-wrapper {
  height: 270px;
  width: 250px;
  border: 2px solid black;
  margin: 100px;
  background-color: rgb(241, 236, 236);zzzzz
}
