.button {
  margin: 0 2px;
  width: 80px;
  background-color: silver;
  cursor: pointer;
  padding: 2px;
  margin: 12px;
}
h4 {
  text-align: center;
}

label {
  display: inline-block;
  margin: 10px;
  width: 250px;
}
input {
  margin-left: 10px;
}
.input1 {
  margin-left: 37px;
}

.container {
  height: 270px;
  width: 250px;
  border: 2px solid black;
  margin: 100px;
  background-color: rgb(241, 236, 236);
}
